.main-section {
    padding: 3rem 5rem 1rem 5rem;
}

.masonry-grid {
    margin-top: 3rem;
    display: flex;
    gap: 1.7rem;
}

.image {
    margin-bottom: 1.7rem;
    width: 100%;
    display: block;
}